header {
    background: #000;
    z-index: 1;
    position: relative;
}

header nav{}

header nav i{
    color: #D1972C;
}

header nav .signOut {
    padding-right: 45px;
}

@media screen and (min-width: 768px) {
    header nav .signOut {
        padding-right: 0;
    }   
}