footer {
    width: 100%;
    max-width: 100%;
    margin: 0 0 0 auto;
    padding-bottom: 500px;
}
footer .row {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}
footer p {
    font-weight: 500;
    margin: 0;
}
footer p strong{
    color: #D1972C;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    footer {
        max-width: calc(100% - 300px);
    }
}