<section class="sectionCommon sectionCommon--companies">
    <div class="container-fluid">
        <table class="companiesList">
            <thead>
                <tr>
                    <th>
                        <p>Razão Social</p>
                        <p>Nome Fantasia</p>
                    </th>
                    <th>
                        <p>CNPJ</p>
                        <p>Telefone</p>
                    </th>
                    <th>
                        <p>Cidade</p>
                        <p>Estado</p>
                    </th>
                    <th>
                        <p>Situação</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a routerLink="/empresas/0">
                            <p>Sport Club Corinthians</p>
                            <p>Corinthians</p>
                        </a>
                    </td>
                    <td>
                        <p>12.123.123/0001-12</p>
                        <p>(00) 9 9999-9999</p>
                    </td>
                    <td>
                        <p>São Paulo</p>
                        <p>São Paulo</p>
                    </td>
                    <td>
                        <p>Ativa</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>