form {}

.form-container {
    width: 100%;
    max-width: 1200px;
    padding-top: 100px;
}

.row {
    padding-bottom: 15px;
}

label {
    width: 100%;
}
label p{
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Nunito';
}

label input,
label select{
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #6D6D6D;
    border-radius: 10px;
    height: 40px;
    background-color: #f7f7f7;
}

.validation-error p {
    color: red;
}