<aside [id]="isActive">
    <button class="buttonMenu" type="button" (click)="handleMenu($event)"><i class="fas fa-solid fa-bars fa-2x" style="color: #D1972C;"></i></button>

    <div class="container-sidebar d-flex flex-column justify-content-sm-between sidebar">
        <nav class="sidebar__nav">
            <ul class="list-unstyled px-10">
                <li>
                    <a routerLink="/empresas" class="text-decoration-none px-3 py-2 d-block">
                        <i class="far fa-folder fa-2x"></i>
                        <font size="5">Empresas</font>
                    </a>
                </li>
                <li>
                    <a routerLink="/usuarios" class="text-decoration-none px-3 py-2 d-block">
                        <i class="fas fa-users fa-2x"></i>
                        <font size="5">Usuários</font>
                    </a>
                </li>
            </ul>
        </nav>

        <figure class="mb-1 sidebar__logo text-center">
            <img class="w-100" src="assets/resources/images/logo.svg" alt="Contabilist logo">
        </figure>
    </div>
</aside>