body{
    background: #ffff;
   }
   
   #side_nav{
    background: #000;
    min-width: 300px;
    max-width: 300px;
    transition: all 0.3s;
   }

    #verticalnav{
    background: #000
   }
   .content{
      min-height: 100vh;
      width: 100%;
   }
   hr.h-color{
     background: #D1972C;
     opacity: 1;
   }
   
   .sidebar li.active{
      background: #eee;
      border-radius: 8px;
   }
   
   .sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
   }
   .sidebar li a{
    color: #D1972C;
   }
   
   @media(max-width: 767px){
    #side_nav{
      margin-left: -500px;
      position: absolute;
      min-height: 100vh;
      z-index: 1;
   
    }
    #side_nav.active{
      margin-left: 0;
     }
   }