<div class="container-fluid">
    <div class="row offset-2 form-group">
        <div class="col-4">
            <input
            type="text"
            class="form-control"
            [(ngModel)]="searchTerm"
            placeholder="&#xf002; PESQUISAR"  style="width: 100%; height: 70px"
            />
        </div>
        <div class="col-2">
            <div class="btn filterButton d-flex flex-column justify-content-center">
                <a href="#">
                    <i class="far fa-search fa-2x" style="color: #000;"></i>
                    <p class="text-center fs-4">>+Filtros</p>
                </a>
            </div>
        </div>
    </div>
    <div class="companycontent">
        <div class="row offset-2">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Razão Social<br>Nome Fantasia</th>
                        <th>CNPJ<br>Telefone</th>
                        <th>Cidade<br>Estado</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let company of companies">
                        <td>{{ company.businessName }}<br>{{ company.name }}</td>
                        <td>{{ company.cnpj }}<br>{{ company.phone }}</td>
                        <td>{{ company.city }}<br>{{ company.state }}</td>
                        <td>{{ company.status ? 'Ativa' : 'Inativa' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>