.form-group {
    padding-top: 100px;
}

.companycontent {
    margin-top: 20px;
}

.filterButton a,
.filterButton button{
    background-color: var(--golden-yellow);
    border: 1px solid #6D6D6D;
    color: #000;
    height: 70px;
}