@import '~bootstrap/dist/css/bootstrap.min.css';
@import url(//fonts.googleapis.com/css?family=Nunito);

:root {
    --golden-yellow: #D1972C;
}

body {
    font-family: 'Nunito', sans-serif;
}

main {
    height: calc(100vh - 131px);
}

.sectionCommon {
    max-width: calc(100% - 300px);
    margin: 0 0 0 auto;
}

.defaultButton {}

.defaultButton a{}
.defaultButton button{}

.defaultButton a,
.defaultButton button{
    background-color: var(--golden-yellow);
    border: 1px solid #6D6D6D;
    text-decoration: none;
    color: #000;
    padding: 12px 40px;
    line-height: initial;
    border-radius: 5px;
    display: inline-block;
}

.submitButton {
    text-align: right;
}