<div class="container-fluid">
        <form [formGroup]="companyForm" (ngSubmit)="submit()" #formDir="ngForm" class="offset-lg-2 offset-xl-2">
            <div class="form-container">
                <span class="form-message">Campos marcados com asterísco são obrigatórios. (*)</span>
    
                <div class="row">
                    <div class="col-8">
                        <label for="businessName">
                            <p>Razão Social *</p>
                            <input
                                formControlName="businessName"
                                type="text"
                                name="businessName"
                                id="businessName"
                                [placeholder]="(companyDetails?.businessName || '')"
                                required
                                minlength="3"
                            >
                        </label>
                    </div>
    
    
                    <div class="col-4">
                        <label for="status">
                            <p>Ativa? *</p>
                            <select formControlName="status" name="status" id="status" required>
                                <option value="true">Sim</option>
                                <option value="false">Não</option>
                            </select>
    
                        </label>
                        
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-12">
                        <label for="name">
                            <p>Nome Fantasia *</p>
                            <input
                                formControlName="name"
                                type="text"
                                name="name"
                                id="name"
                                [placeholder]="companyDetails?.name"
                                required
                                minlength="3"
                            >
    
                        </label>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-12 col-xl-4 col-lg-4">
                        <label for="cnpj">
                            <p>CNPJ *</p>
                            <input
                                formControlName="cnpj"
                                type="text"
                                name="cnpj"
                                id="cnpj"
                                [placeholder]="(companyDetails?.cnpj || '')"
                                required
                                minlength="18"
                                maxlength="18"
                                (input)="onCnpjInput($event)"
                            >
                        </label>
                    </div>
    
                    <div class="col-6 col-xl-4 col-lg-4">
                        <label for="email">
                            <p>Endereço de E-mail *</p>
                            <input
                                formControlName="email"
                                type="email"
                                name="email"
                                id="email"
                                [placeholder]="(companyDetails?.email || '')"
                                required
                                minlength="5"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                            >
                        </label>
                    </div>
                    <div class="col-6 col-xl-4 col-lg-4">
                        <label for="phone">
                            <p>Telefone (com DDD) *</p>
                            <input
                                formControlName="phone"
                                type="tel"
                                name="phone"
                                id="phone"
                                placeholder="(11) 9 9999-9999"
                                required
                                minlength="16"
                                maxlength="16"
                                (input)="onPhoneInput($event)"
                            >
                        </label>
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col-lg-4 col-xl-4">
                        <label for="cep">
                            <p>CEP *</p>
                            <input
                                formControlName="cep"
                                type="text"
                                name="cep"
                                id="cep"
                                placeholder="80000-000"
                                required
                                minlength="9"
                                maxlength="9"
                                pattern="^[0-9]{5}-[0-9]{3}$"
                            >
                        </label>
                    </div>
                    <div class="col-lg-4 col-xl-4">
                        <label for="city">
                            <p>Cidade *</p>
                            <input type="text" name="city" id="city" formControlName="city" placeholder="São Paulo" required>
                        </label>
                    </div>
                    <div class="col-lg-4 col-xl-4">
                        <label for="state">
                            <p>Estado *</p>
                            <input type="text" name="state" id="state" formControlName="state" placeholder="São Paulo" required>
                        </label>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-6">
                        <div class="goBackButton defaultButton">
                            <a href="#">Retornar</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="submitButton defaultButton">
                            <button type="submit">Adicionar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>